h1 {
  color: #f0bb03;
  font-size: 100px;
  font-family: Bree Serif;
}
p {
  color: #ffffff;
  font-size: 40px;
  font-family: Bree Serif;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  color: #1e293b;
  font-family: Bree serif;
  font-size: 20px;
}
